

.admintable_container{
padding: 10px 10px 10px 250px !important;
height: 100vh;

}
.admintable{
margin-top: 80px;
}
.edit_delete_btn {
  padding: 5px 15px;
  border: none;
  background: #3f6db8;
  color: #fff;
  border-radius: 6px;
}
.signoutbtn {
  padding: 5px 15px;
  background: #3f6db8;
  color: #fff;
  border: none;
  border-radius: 6px;
}
.dashboard{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.inputs {
  justify-content: flex-end !important;
}


.inputs p {
  width: 65px !important;
}

.inputs input,
select {
  border: 1px solid black;
  border-radius: 8px !important;
  padding: 5px 10px !important;
}

input:focus {
  outline: none !important;
}

.btn {
  width: 130px !important;
  margin: 30px 130px;
  border: 1px solid #000 !important;
  margin-bottom: 0 !important;
}



.edit_delete_btn button {
  background: transparent;
  border: none;
  text-decoration: underline;
  margin: 0 3px;
}
.admintable_container{
  position: relative;
}
.main-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width:760px){
.admintable_container{
  padding: 0 !important;
}


html {
  position: relative;
}
.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dashboard{
  height: 100vh;
}
}