.sign-in-btn{
  background:#3F6DB8;
  color: #fff;

}
.theme-color{
  color: #3F6DB8;
  font-weight: 600;
}

.sign-in-btn:hover{
    color: black !important;
}
.signin_text{
  margin-right: 15px;
}
.jumps-prevent{
  padding: 0 !important;
}
.div{
  height: 90vh !important;
}