*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:hover{
    color: #000 !important;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.jumps-prevent{
    padding: 0 !important;
  }
  